{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/shop/css/index.css') }}">
{% endblock %}

{% block body %}

    {% include 'ShopBundle:Public:header.html.twig' %}

    <div class="container">

        <div class="mainimg">
            <img src="{{ asset('bundles/shop/img/main.jpg') }}">
            <div class="words" style="display: none">
                <h1>fantasybis.es</h1>
                <h1>última semana</h1>
                <div class="button-wrapper">
                    <a href="{{ path('shop_productList_new') }}" class=" button banner-button btn-light">COMPRAR AHORA</a>
                </div>
            </div>
        </div>
        <br><br><hr class="featurette-divider"><br>
        <section class="home-block grid2">
            <h4 class="hs1">Best picks</h4>
            <h1 class="ha1">The finest edit</h1>
            <br>
            <div class="best-picks-wrapper row">
                <div class="col-xs-6 col-md-3">
                    <a href="">
                        <img src="//img.mytheresa.com/media/static/raw/cms/l/CW45_homepage/CW45_finest_edit_1_2x_20161107144554.jpg">
                        <h4 class="hs1">VALENTINO</h4>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="">
                        <img src="//img.mytheresa.com/media/static/raw/cms/l/CW45_homepage/CW45_finest_edit_2_2x_20161107144553.jpg">
                        <h4 class="hs1">STELLA MCCARTNEY</h4>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="">
                        <img src="//img.mytheresa.com/media/static/raw/cms/l/CW45_homepage/CW45_finest_edit_3_2x_20161107144553.jpg">
                        <h4 class="hs1">SAINT LAURENT</h4>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="">
                        <img src="//img.mytheresa.com/media/static/raw/cms/l/CW45_homepage/CW45_finest_edit_4_2x_20161107144554.jpg">
                        <h4 class="hs1">GUCCI</h4>
                    </a>
                </div>
            </div>
        </section>
        <br><br><hr class="featurette-divider"><br><br>
        <div class="row showcase">
            <div class="col-xs-12 col-md-6">
                <a href="{{ path('shop_productList_new') }}"><img src="{{ asset('bundles/shop/img/show2.jpg') }}"></a>
                <button id="anniu" class="button button-inverse">Comprar Ahora <i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
                <hr class="featurette-divider">
                <h1 class="ha1">Mejor Vendido En Tienda</h1>
                <a href="{{ path('shop_productList_new') }}"><img src="{{ asset('bundles/shop/img/show3.jpg') }}"></a>
            </div>
            <div class="col-xs-12 col-md-6">
                <a href="{{ path('shop_productList_new') }}"><img src="{{ asset('bundles/shop/img/show1.jpg') }}"></a>
            </div>
        </div>
        <br><br>
    </div>

    {% include 'ShopBundle:Public:footer.html.twig' %}
{% endblock %}