{% extends 'ShopBundle:BackEnd:index.html.twig' %}

{% block menuslide %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ path('shop_homepage_admin') }}"><i class="fa fa-tachometer" aria-hidden="true"></i> &nbsp;总览  <span class="sr-only">(current)</span></a></li>
        <li><a href="#"><i class="fa fa-info" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;&nbsp;报告</a></li>
        <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>&nbsp; 分析</a></li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="active"><a href="{{ path('user_index') }}"><i class="fa fa-users" aria-hidden="true"></i> &nbsp;&nbsp;用户管理</a></li>
        <li><a href="{{ path('category_index') }}"><i class="fa fa-columns" aria-hidden="true"></i> &nbsp;&nbsp;产品分类</a></li>
        <li><a href="{{ path('product_index') }}"><i class="fa fa-female" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;产品管理</a></li>
        <li><a href="{{ path('select_new') }}"><i class="fa fa-heart" aria-hidden="true"></i> &nbsp;&nbsp;新品选择</a></li>
        <li><a href="{{ path('orderinfo_index') }}"><i class="fa fa-credit-card" aria-hidden="true"></i> &nbsp;&nbsp;订单管理</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h1 class="sub-header">用户注册码管理</h1>
    <a href="{{ path('user_index') }}" class="button button-rounded button-inverse">返回</a>
    <br><br><br>
    <form class="form-inline" action="{{ path('user_codeEdit') }}" method="post">
        <div class="form-group">
            <label for="codigo">新密码</label>
            <input type="number" step="0.01" class="form-control" id="codigo" name="codigo" placeholder="codigo" required="required">
        </div>
        <button type="submit" class="btn btn-inverse">确定修改</button>
    </form>
    <br>
    {% for flashMessage in app.session.flashbag.get('notice') %}

        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>

    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">
            {{ flashMessage }}
        </div>

    {% endfor %}
    <h4>密码需设定为任意位数的数字（不可使用字母）.</h4>
    <br>
    <div class="col-xs-4">
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>当前用户注册验证码</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ key }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}